<h2 style="margin: 0 0 20px;">{{ "Query Analysis"|t('search-manager') }}</h2>

<div class="analytics-charts two-columns">
    <div class="chart-container">
        <h3>{{ "Query Length Distribution"|t('search-manager') }}</h3>
        <canvas id="query-length-chart"></canvas>
        <div class="chart-legend" id="query-length-legend"></div>
    </div>

    <div class="chart-container">
        <h3>{{ "Word Cloud"|t('search-manager') }}</h3>
        <div id="word-cloud-container" style="height: 300px; position: relative; width: 100%;">
            {# Word cloud will be rendered here by D3/JS #}
        </div>
    </div>
</div>
